body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-image: url('bg.jpeg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position:  center;
  height: 100vh; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  background-color: #0a0a0a;
  border: 1px solid #080808;
  padding: 2px 4px;
  text-align: center;
  margin: 20px auto;
  color: #ffffff; 
  font-size: 40px; 
}


body {
  display: flex;
  justify-content: center;
  align-items: center; /* Align content to the center vertically */
  height: 100vh;
}

